# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# data
data/

# Streamlit secrets
.streamlit/secrets.toml

# Environment variables
.env

# Jupyter Notebook
.ipynb_checkpoints/

# PyCharm
.idea/

# Logs
*.log


# PyInstaller
*.spec